body {
	font-size: 18px;
	font-family: 'Maitree', serif;
	color: #000000;
}

button {
    width: 50px; 
    height: 50px; 
    font-size: 30px; 
    font-family: 'Maitree', serif;
    border: 1px solid lightGrey;
    text-align: center; 
    color: #ffffff;
    background-color: #1a3e66;
    cursor: pointer;
}

button:active,
button:hover {
    background-color: #ef4338;
    color: #ffffff;
}

.root {
	width: 50%;
	padding: 22px 11px;
	border: 2px solid #1a3e66;
}